abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-style:normal
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block
}
li,ul {
    list-style:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
img {
    vertical-align:middle
}
input,select {
    vertical-align:middle;
    -webkit-appearance:none;
    margin:0;
    outline:none;
    height:33px;
    width:100%;
    display:block
}
a,button,img,input,select {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    border:none
}
a,button,img {
    -webkit-touch-callout:none;
    text-decoration:none
}
html {
    font-size:20px
}
body {
    width:100%;
    height:100%;
    background:#f7f7f7;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:.7rem;
    -webkit-font-smoothing:subpixel-antialiased;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.content-block {
    background:#fff
}
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
    height:0
}
.clearfix {
    zoom:1
}
.f-s12 {
    font-size:.6rem
}
.f-s14 {
    font-size:.7rem
}
.f-s16 {
    font-size:.8rem
}
.f-s18 {
    font-size:.9rem
}
.loan_rbt:active {
    border:1px solid #ff8400;
    background:#e0dfdf
}
.loan-title {
    z-index:10;
    position:fixed;
    top:0;
    width:100%;
    height:44px;
    line-height:44px;
    overflow:hidden;
    color:#fff;
    text-align:center;
    background:#33b996;
    font-size:.8rem
}
.item {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:box;
    -webkit-box-orient:horizontal;
    -ms-box-orient:horizontal;
    box-orient:horizontal;
    -webkit-box-align:center;
    -ms-box-align:center;
    box-align:center;
    position:relative;
    background:#fff
}
.item_c {
    text-align:center;
    -webkit-box-flex:1;
    box-flex:1
}
::-webkit-input-placeholder {
    color:#999
}
:-moz-placeholder,::-moz-placeholder {
    color:#999
}
:-ms-input-placeholder {
    color:#999
}
.back,.password,.user {
    display:inline-block;
    vertical-align:middle;
    background:url(./static/back.678ba07c.png) no-repeat;
    background-size:75px 63px
}
.loan-title .back {
    width:40px;
    height:23px;
    position:absolute;
    left:11px;
    top:11px;
    background-position:-5px -10px;
    padding-left:15px;
    line-height:25px;
    font-size:.6rem
}
.loan-title .closed {
    width:15px;
    height:15px;
    position:absolute;
    left:15px;
    top:15px;
    background-size:15px 15px;
    line-height:15px;
    font-size:.6rem
}
.title-right {
    position:absolute;
    color:#fff;
    right:20px;
    top:0;
    font-size:.7rem
}
.content {
    position:absolute;
    top:43px;
    right:0;
    bottom:0;
    left:0;
    overflow:auto;
    color:#666
}
.clear {
    clear:both
}
.col-fa2 {
    color:#fa2426!important
}
.col-54e {
    color:#54e1f3!important
}
.col-fe8 {
    color:#fe8f24!important
}
.col-16c {
    color:#16c54e!important
}
.mt-10 {
    margin-top:10px
}
.mr-10 {
    margin-right:10px
}
.pl-10 {
    padding-left:10px
}
.page_login {
    background:#f7f7f7
}
.head_bg {
    padding:10% 35%
}
.login_list {
    background:#fff;
    margin-bottom:70px
}
.login_list li {
    border-bottom:1px solid #dedede;
    padding:10px
}
.login_list li:last-child {
    border:0
}
.login_left {
    float:left;
    margin-left:30px;
    line-height:35px;
    font-size:.8rem
}
.login_right {
    float:right;
    line-height:35px;
    border-radius:5px;
    background-color:#efefef;
    padding:0 10px;
    margin-right:5px
}
.user {
    background-position:-23px -31px
}
.password,.user {
    width:16px;
    height:32px;
    position:absolute;
    left:10px
}
.password {
    background-position:-46px -31px
}
.login_bt {
    margin:10px;
    border-radius:10px;
    background:#33b996;
    color:#fff;
    text-align:center;
    height:45px;
    line-height:45px
}
.page_index {
    margin-bottom:55px
}
.menu_list {
    background-color:#fff;
    padding-top:30px
}
.menu_list li {
    float:left;
    width:49.4%;
    text-align:center;
    padding:20px 0;
    border-bottom:1px solid #dedede;
    border-right:1px solid #dedede
}
.menu_list li:last-child {
    border-right:0
}
.menu_list1 {
    background-color:#fff;
    margin-bottom:10px
}
.menu_list1 li {
    float:left;
    width:49.4%;
    text-align:center;
    padding:20px 0;
    border-right:1px solid #dedede
}
.menu_list2 {
    background-color:#fff;
    border-bottom:1px solid #dedede
}
.menu_list2 li {
    float:left;
    width:49.4%;
    text-align:center;
    padding:20px 0;
    border-right:1px solid #dedede
}
.menu_list1 li:last-child {
    border-right:0
}
.menu1,.menu2,.menu3,.menu4 {
    display:inline-block;
    vertical-align:middle;
    background:url(./static/icon1.7aed76dc.png) no-repeat;
    background-size:50px 236px;
    float:right;
    margin-right:10px;
    width:50px;
    height:59px
}
.menu1 {
    background-position:center 0
}
.menu2 {
    background-position:center -59px
}
.menu3 {
    background-position:center -118px
}
.menu4 {
    background-position:center -177px
}
.menu_left {
    float:left;
    margin-left:12px;
    text-align:left
}
.menu_tt {
    font-size:.8rem;
    color:red;
    margin-top:5px
}
.foot {
    background-color:#fff;
    position:fixed;
    height:50px;
    width:100%;
    bottom:0;
    padding-top:7px;
    border-top:1px solid #33b996
}
.foot li {
    float:left;
    width:33%;
    text-align:center
}
.bot_tt {
    font-size:.6rem;
    margin-top:3px
}
.info_list {
    margin-top:10px;
    border-top:1px solid #dedede;
    background-color:#fff
}
.info_list li {
    border-bottom:1px solid #dedede;
    line-height:38px;
    padding-left:10px;
    position:relative
}
.leave_time {
    margin-top:10px;
    background:#fff;
    line-height:38px;
    padding-bottom:10px
}
.lt_tt {
    border-bottom:1px solid #dedede;
    padding-left:10px
}
.time {
    margin:10px 10px 10px 20px;
    font-size:.6rem
}
.col_star {
    color:red;
    margin-right:10px;
    line-height:30px
}
.date {
    border:1px solid #ebebeb;
    border-radius:6px;
    width:50%;
    font-size:.7rem;
    padding-left:10px
}
.leave_time input {
    text-align:left;
    border-radius:5px;
    height:28px;
    line-height:28px;
    line-height:normal;
    background:#fff url(./static/icon3.495ec318.png) no-repeat right 4px;
    background-size:25px 20px;
    display:inline-block
}
.day {
    background:#fff;
    margin-top:10px;
    padding:10px;
    font-size:.6rem;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede
}
.day input {
    height:28px;
    line-height:28px;
    line-height:normal;
    width:40%;
    display:inline-block;
    border:1px solid #ccc;
    padding-left:10px;
    text-align:center
}
.style {
    background:#fff;
    margin-top:10px;
    padding:10px;
    font-size:.6rem;
    line-height:33px;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede
}
.style_tt {
    float:left;
    width:45%;
    line-height:33px
}
.tip {
    margin:10px;
    font-size:.6rem
}
.sure_bt {
    margin:40px 10px 10px;
    border-radius:10px;
    background:#33b996;
    color:#fff;
    text-align:center;
    height:35px;
    line-height:35px
}
.add {
    background:#fff url(./static/add.e1ede031.png) no-repeat right 6px;
    background-size:25px 15px
}
.SelectControl {
    height:33px;
    background:#fff url(./static/show.00c123bd.png) no-repeat 100%;
    background-size:25px 15px;
    z-index:999;
    border-radius:5px;
    width:43%;
    margin-right:2%;
    border:1px solid #dedede;
    position:relative
}
.SelectControl,.SelectControl input {
    float:left;
    display:inline;
    cursor:pointer
}
.SelectControl input {
    background:transparent;
    border:none;
    *border:0;
    font-size:14px;
    text-align:left;
    line-height:33px;
    padding-left:5px;
    overflow:hidden;
    color:#333
}
.SelectControl dl {
    position:absolute;
    left:0;
    top:35px;
    max-height:200px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    overflow:hidden;
    overflow-y:auto;
    background:#fff;
    z-index:99889
}
.SelectControl dd {
    height:24px;
    overflow:hidden;
    cursor:pointer;
    font-size:12px;
    border-bottom:1px solid #dedede;
    padding-bottom:5px
}
.SelectControl dd.on {
    background:#0077a2;
    color:#fff
}
.info_l {
    float:left;
    font-size:.6rem
}
.info_r {
    float:right;
    margin-right:10px;
    font-size:.6rem
}
.start {
    width:60%
}
.day1,.start {
    border:1px solid #dedede;
    text-align:center;
    display:inline-block;
    color:#999
}
.day1 {
    width:40%;
    line-height:28px
}
.bt_bg {
    margin:30px 10px 10px
}
.bt_l {
    float:left;
    background:#458df3
}
.bt_l,.bt_r {
    border-radius:10px;
    color:#fff;
    text-align:center;
    height:35px;
    line-height:35px;
    width:48%
}
.bt_r {
    float:right;
    background:#ef525a
}
.wait_left {
    width:25%;
    padding-bottom:10px
}
.wait_left,.wait_right {
    float:left;
    margin-top:10px
}
.wait_right {
    font-size:.6rem;
    line-height:25px
}
.wait_tt {
    border-radius:50%;
    background-color:#ef525a;
    color:#fff;
    padding:15px;
    line-height:35px;
    width:35px;
    height:35px
}
.wait_name {
    margin-top:5px
}
.sp_bt {
    position:absolute;
    right:10px;
    bottom:10px;
    background:#ef525a;
    color:#fff;
    border-radius:5px;
    padding:2px 5px;
    line-height:20px
}
.my-list {
    background:#fff;
    border-top:1px solid #ddd;
    margin-top:10px;
    font-size:.7rem
}
.my-list,.my-list ul li {
    overflow:hidden;
    border-bottom:1px solid #ddd
}
.my-list ul li {
    height:37px;
    line-height:37px;
    padding-left:15px;
    color:#7f7f7f;
    position:relative
}
.my-list ul li:last-child {
    border-bottom:none
}
.photo {
    margin:30px 38% 10px
}
.name {
    font-size:.8rem;
    text-align:center;
    margin-bottom:30px
}
.my_left {
    width:30%
}
.my_left,.my_right {
    float:left;
    display:block;
    color:#333
}
.my_right {
    width:70%
}
.more {
    position:absolute;
    top:0;
    right:10px;
    padding-left:300px;
    display:block;
    z-index:10
}
.suc_tt {
    font-size:.8rem;
    margin-bottom:30px;
    color:#4db752;
    font-weight:700
}
.contact,.suc_tt {
    text-align:center
}
.contact i {
    margin-right:10px
}
@media(min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
    html {
        font-size:22.33333333px
    }
    .menu_left {
        margin-left:15px
    }
    @media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
        html {
            font-size:23.08px
        }
        .menu_left {
            margin-left:20px
        }
        @media only screen and (min-width:480px) {
            html {
                font-size:25.6px
            }
        }
    }
}
/*# sourceMappingURL=index.86724d2b.css.map*/